<ion-view view-title="Perro Callejero">
  <ion-slide-box on-slide-changed="slideChanged(index)">
   
    <ion-slide>
      <div class="slide-content">
           <h1>Perro callejero</h1>
        <div style="background:red;width:50%;margin:0 auto;border-radius:50%;">
     
        <p><img src="../img/Animals-Dog.png"></p>
       
       </div>
        <h3>Ellos tambien merecen una oportunidad</h3>
        <p> somos una familia de bogotanso que queremos ayudar a lso perritso callejeros y creramso esta aplicacion porque sabemso que existe mucha gente buena con la intensiond e ayudar.esperamso que esta aplicacion les sea util
        </P><p>  si tienenn alguna ideao quieren contactarnos escribannos a ayuda@perrocallejero.co</p>
        <button class="button button-block button-balanced" ng-click="startApp()">
         Continuar
        </button>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>