<ion-view view-title="Perro Callejero">
  <ion-slide-box on-slide-changed="slideChanged(index)">
   
    <ion-slide>
      <div class="slide-content">
           <h1>Perro callejero</h1>
        <div style="background:red;width:50%;margin:0 auto;border-radius:50%;">
     
        <p><img src="./img/Animals-Dog.png"></p>
       
       </div>
        <h3>Ellos tambien merecen una oportunidad</h3>
        <button class="button button-block button-balanced" ng-click="startApp()">
         Empezar
        </button>
      </div>
    </ion-slide>

     <ion-slide>
     <ion-header-bar class="bar-assertive">
      <h1 class="title">Photos</h1>
      </ion-header-bar>
      <ion-content ng-controller="ExampleController" padding="true">
      <hr><hr>
         <br><br<br>
      <hr>
      <button class="button button-full button-assertive" ng-click="takePhoto()">
      Take Photo
      </button>
      <button class="button button-full button-assertive" ng-click="choosePhoto()">
      Choose Photo
      </button><hr>
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
    </ion-content>

    </ion-slide>
  </ion-slide-box>


</ion-view>