<ion-view view-title="Perro Callejero">
  <ion-slide-box on-slide-changed="slideChanged(index)">
   
    <ion-slide>
      <div class="slide-content">
           <h1>Perro callejero</h1>
        <div style="background:red;width:50%;margin:0 auto;border-radius:50%;">
     
        <p><img src="./img/Animals-Dog.png"></p>
       
       </div>
        <h3>Ellos tambien merecen una oportunidad</h3>
        <button class="button button-block button-balanced" ng-click="startApp()">
         Empezar
        </button>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>