
<ion-view view-title="Perros">


  <ion-content>
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
	<ion-list>
		<ion-item class="item-icon-right" ng-repeat="post in posts track by $index" href="#/app/posts/{{post.id}}" track>
			<!-- <img ng-if="post.featured_image" ng-src="{{post._embedded['http://v2.wp-api.org/attachment'][0][$index].source_url}}" class="alignleft" /> -->
		
			<div ng-if="post.better_fetured_image"class="imagenlista" style="background:url({{post.better_featured_image.media_details.sizes.thumbnail.source_url}});">
</div>
	<h2 ng-bind-html="post.title.rendered"></h2>
			<!--<img ng-src="{{post.better_featured_image.media_details.sizes.thumbnail.source_url}}">-->
						<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-list>

	<ion-infinite-scroll
	ng-if="moreDataExists()"
    on-infinite="loadMore()"
    distance="1%"
    immediate-check="false">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>
